*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color: lightslategray;
    text-align: center;
    
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    
}

aside{
    flex: 30px;
    background-color: beige;
    padding: 20px;
}

section{
    flex: 70%;
    background-color: whitesmoke;
    padding: 20px;

}

footer{
    
    padding: 0.09px;
    text-align: center;
    background-color: #333;
    margin-top: 0px;
}


.imagenes {
    display: inline;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    border-radius: 1px;
    padding: 1px;
    width: 700px;
    height: 500px;
    background-color: beige;
    margin-left: 5px;
    margin-right: 5px;
    
    
}

.flex-container{
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 10px;
    border: 0px solid black;
    flex-wrap: wrap;
}
.flex-container div{
    background-color: aliceblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    border: 2px solid #333;
    flex-wrap: wrap;
}
@media screen and (max-width: 700px){
    nav, 
    .row
    .flex-container
    .flex-container div{
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .productosAlineados {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}
.borde {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.productos {
    height: 16rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    font-family: Baskerville Old Face;

}
.inputAdmin {
    width: 30%;
    border: none;
    padding: .4rem;
    border-radius: 0rem;
    background-color: #333;
    color: white;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos {
    height: 5rem;
    width: 5rem;
    
}
.input{
    size: 10;
    border: none;
    padding: .4rem;
    border-radius: 0rem;
    background-color: white;
    color: black;
}
